.header {
    z-index: 1;
    position: relative;
    min-height: 770px;
    padding: 20px;
    background: url('../img/woman-with-visible-abs-doing-fitness.jpg') no-repeat (center / cover);

    .logo {
        display: flex;
        &__name {
            font-size: 38px;
            font-weight: 900;
            color: rgb(255, 255, 255);
        }

        &__dot {
            font-size: 38px;
            font-weight: 900;
            color: rgb(67, 210, 158);
        }



    }

    .training {
        margin-top: 150px;
        margin-left: 110px;
        .above_name{
            font-size: 17px;
            font-weight: 700;
            color: rgb(255, 255, 255);
        }
        .name {
            font-size: 56px;
            font-weight: 900;
            color: rgb(255, 255, 255);
            line-height: 60px;
            margin-bottom: 25px;
        }

        
    }

    .social {
        li {
            list-style-type: none;
        }
        img {
            width: 20px;
            height: 20px;
        }
    }
}

.form__number {
    display: grid;
    input {
        width: 270px;
        height: 40px;
        padding: 20px 30px 20px 30px;
        font-size: 15px;
        font-weight: 600;
        color:rgba(120, 124, 140, 0.7);
    }
    
}


.bgc__green {  
    position: absolute;
    display: block;
    height: 810px;
    width: 911px;
    background-color: rgba(67, 210, 158, 0.9);
    top: 0;
    left: 0;
    z-index: -1;
}





.thanks__modal-text {
    height: 20px;
    width: 425px;
    font-size: 12px;
    letter-spacing: 2.5px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 17px 30px;
    color: #fff;
    margin-top: 25px;
    background-color: rgba(32,37,62,.95);
    display: flex;
    align-items: center;
    text-align: center;
}